@media (min-width: 32.5em) {
    /*body {
      background-color: lightblue;} */
    header {  
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    li {
        margin: .8rem;
       
    }

    h2{
        margin-bottom: .6em;
    }
}
