
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

:root {
    --primary-color:#98c1d9 ;
    --secondary-color: whitesmoke;
    --accent1-color: black;
    --heading-font: Epilogue;
    --paragraph-font: Hind;
}
html {
    background-color: var(--secondary-color);
    margin: auto;
    
    
}

body {
    max-width: 500px;
    margin: auto;

}

header, footer {
    background-color: var(--primary-color) ;
    margin: 1rem;
    padding: .5rem;
    border: var(--primary-color) 1px solid;
    border-radius: 15px;
}

img {
    border: var(--primary-color) 1px solid;
    box-shadow: 2px 2px 4px #888888;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 10px 8px #888888;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--heading-font);
    color: white;
	text-shadow: 2px 2px 4px #000000;

}

main {
    margin: 1rem;
    padding: .5rem;
    border: 1px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: var(--secondary-color);
    text-shadow: 2px 2px 1.5px #888888;
    font-size: 2em;
}

h2{
    font-family: var(--paragraph-font);
    color: var(--accent1-color); 
    text-shadow: 2px 2px 3px #888888;
    margin-bottom: .2em;
}
li {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    margin: .3rem;
}

.foot1 {
    margin-bottom: 4px;
}

.foot2{
    margin-top: 4px;
    color: white;
}


