/****** Header ********/
#topHeader {
    background-color:#142456 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    color: white;
    padding-left: 2vw;
   
}

.date em {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-style: normal;
}

#topHeader div {
    padding-right: 2vw;
    padding-top: 1vw;
}

#topHeader div img {
    height: 30px;
}
#bottonHeader {
    background-color: #121653;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    font-family: 'Koulen', cursive;
    color: white; 
    font-size: 2.5rem;
    padding-left: 3px;
    margin: 0;
}

div.title {
    display: flex;
    flex-direction: column;
}

div.title p {
    font-style: italic;
    color: white;
    font-size: 1.5rem;
    margin: 0;
    padding-left: 3px;
}

#logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav a {
    color:white;
}
/* ------ Nav Menu ------- */
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}
nav {
    background-color: #121653;
    text-align: center;
    padding-right: 2vw;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 2.5rem 2vw;
    text-decoration: none;
    color: white;
    border-top:1px solid rgba(0,0,0,.5);
    text-align: center;
    font-family: 'Koulen', cursive;
}


nav ul li.active a {
    background-color: rgba(255,255,255,.9);
    color: black;
}

nav ul li a:hover {
    background-color: rgba(255,255,255,.7);
    color: black;
}

button {
    font-family: 'Open Sans', sans-serif;
}

/* -------- Hamburger button --------*/

nav ul {display: none;}
nav ul.open { display: block;}

#hamburgerBtn span:nth-child(1) {display:block}
#hamburgerBtn span:nth-child(2) {display:none}

#hamburgerBtn.open span:nth-child(1) {display:none}
#hamburgerBtn.open span:nth-child(2) {display:block; min-width: 35rem;
text-align: center;}

#logo.open {display: none;}

/* ------ Footer ------ */
#topFooter {
    background-color: #121653;
    text-align: center;
    color: white;
    padding: 1vw;
    font-family: 'Roboto Slab', serif;
}

#bottonFooter {
    background-color: #142456;
    color: white;
    text-align: center;
    padding: 1vw;
}

h4 {
    padding-top: .5rem;
    margin: 0;
    font-family: 'Koulen', cursive;
    font-size: 1.2rem;
}

#topFooter p {
    padding-top: .5rem;
    margin: 0;
}
 
#topFooter a {
    padding-top: .7rem;
    margin: 0;
    color: white;
}

h5, .wdd, #update{
    margin: 0;
    padding-top: 0;
    font-family: 'Roboto Slab', serif;
    font-size: .8rem;
}

h5{
    margin: 0;
    padding-top: 1rem;
}

.myName {
    margin: 0;
    padding-top: 0;
    font-family: 'Koulen', cursive;
    font-size: 1.2rem;
}

#firstBottonFooter span {
    display: none;
}

main {
        display: grid;
        grid-template-columns: 30rem;
        grid-template-rows: 10rem 10rem 10rem 10rem 10rem;
    }

main section {
    border-style: solid;
    border-color: #121653;
    border-width: 2px;
    margin: 3px;
}


#join {
    display: none;
}






