:root {
    --primary-color: #F5F2EA;
    --secondary-color: #D0C7C2;
    --accent1-color: #187bcd;
    --accent2-color: #1167b1;
    --accent3-color: #03254c;}

    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Open Sans', sans-serif; */

    html {
        background-color: white;
        min-width: 120em;
    }

    
    /*   --------HEADER--------    */
    header {
        background-color: var(--accent3-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-family: 'Lobster', cursive;
        color: var(--primary-color);
        font-size: 25px;
        margin: .5em .5em 0em .5em;
        padding:none;
    }

    .nombre {
        font-family:'Open Sans', sans-serif;
        color: var(--primary-color);
        font-size: 20px;
        margin: 0em .5em .5em .5em;
        padding:none;
    }

    /* ---------- MAIN ---------- */
    main {
        background-color: var(--primary-color);
    }
    h2{
        font-family: 'Open Sans', sans-serif;
        background-color: var(--accent2-color);
        color: var(--primary-color);
        font-size: 20px;
        margin: 16px 0px 16px 0px;
        padding:.7em;
    }

    h3 {
        font-family: 'Open Sans', sans-serif;
        color: var(--accent3-color);
        font-size: 17px;
        margin: 1.5em 1em 0em 0em;
        padding:0em .5em .1em .7em;

    }
     a {
        font-family:'Open Sans', sans-serif ;
        color: var(--accent3-color);
        font-size: 14px;
        margin: 0px;
        padding:0em .5em 1em .7em;
     }

    img {
      width:320px;
      padding: 10px;
    }

    p {
        font-family:'Open Sans', sans-serif;
        color: var(--accent3-color);
        font-size: 14px;
        margin: 1.5em 1em 0em 0em;
        padding:0em .5em .1em .7em;
    }

    /* -----------FOOTER -------------- */

    footer {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        background-color: #03254c;

    }

    .foot1 {
        margin: 1em 1em 0em 1em;
        padding:0em 0em .2em 0em;
        color: var(--primary-color);
    }

    .foot2 {
        margin: 0em 1em 1em 1em;
        padding: .3em 0em 0em 0em;
        color: var(--primary-color);
    }


    
   