@media(min-width:60em){

    #repetition {
        grid-column: 1/2;
        grid-row: 1/4; 
    }

    #whiteSpace {
        grid-column: 2/3;
        grid-row: 1/4;
    }

    #ruleOfThirds {
        grid-column: 3/4;
        grid-row: 1/4; 
    }
}