/* Typography */
body {
    font-family: 'Catamaran', sans-serif;
    font-family: 'Koulen', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    background-color: white;
    margin: 4rem;
}

header, main {
    max-width: 900px;
}

header {
    background-color: #0a60af;
    margin: 0;
    padding: 1.5rem;
}
section {
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    padding: 2rem;
    
}

h1 {
    text-align: center;
    font:40px 'Koulen', sans-serif;
}

h2 {
    text-align: left;
    font: 25px 'Koulen', sans-serif;
    background-color: #70ccf9;
    margin: 0;
    padding: 1rem;
}

h3 {
    text-align: left;
    font: 20px 'Koulen', sans-serif;
}

div h3 {
    margin-bottom: 0;
    padding-bottom: 5px;
}

div p {
    margin-top: 0;
}

header p {
    text-align: center;
    font: 30px 'Open Sans', sans-serif;
}
p {
    text-align: left;
    font: 20px 'Open Sans', sans-serif;
}

img {
    border: 1px solid black;
}

/* GREEN #0A5C36 
    GREEN #0F5132
    black 
    white */
