body {
    background-color: white;
}

header, main, footer {
    width: 100%;
    /*max-width: 500px;*/
    margin: 0;
}

h1, h2, h3, h4{
    font-family: 'Koulen', sans-serif;
}

p, li, button{
    font-family: 'Open Sans', sans-serif;
}

button {
    border-radius: 5px;
    border: #121653 2px solid;
    font-size: 1rem;
}

/* ---- BANNER ----- */
.banner {
    width: 100%;
    padding: 20px;
    background-color: #4CAF50; /* Green background color */
    color: #ffffff; /* White text color */
    text-align: center;
    font-size: 18px;
    flex-direction: row;
    justify-content: center;
}

#closeBanner{
    padding: 5px;
    margin: 10px;
    font-weight: 300;
    color: red;
    border: none;
}

/* HEADER */
#title {
    color: white;
    font-family: 'Koulen', sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 1rem .5rem;
}

#directoryChamber h1{
    text-align: center;
}

div.menu{
   text-align: center;
}

div.menu button{
    padding: 1rem 2rem;
}

header {
    background-color: #121653;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo img {
    padding: 16px;
    margin-left: 2rem;
    height:60px;
    margin-right: 0;
    padding-right: 0;
}

/*nav menu */
nav {
	margin: 1rem auto;
}

ul {
    margin: 0;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem 6rem;
	background-color: #eee;
	color: #000;
    border-radius: 15px;
    margin-bottom: .5rem;
	/*position:absolute;
	
	right: 1rem;*/
}

#menu.open{
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "Close Menu";
    width:100%;
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

ul.navigation.open{
    padding: 0;
    width: 100%;

}
nav{
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

/*.active::before {
	content: "📍 ";
}*/

/*hero image-call to action */
#actionCall{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#actionCall h2 {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 4px #000000;
    margin-bottom: 0;
    padding-bottom: .2rem;
    
}

#actionCallButton{
    padding: .5rem 2rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:#121653;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #121653;

}

#logo {
    display:flex;
    flex-direction: row;
}

.heroImage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.heroImage img {
    grid-column: 1/5;
    grid-row: 1/5;
    /*max-width: 500px;*/
    width: 100%;
}

.heroImage div {
    grid-column: 1/5;
    grid-row: 1/5;
    /*padding-inline: 1.5rem;*/
    margin: 0;
    background-color:rgba(10,96,175,0.4);
}
/* ---Events--- */
h2{
    text-align: center;
}


.events div {
    border:none;
    margin: 5px;
    padding: 10px;
}
.events div img{
    width: 98%;
}

/*-- Business Spotligt --*/
.division {
    border: #0A60AF solid 1px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#businessSpotlight div{
    width:94%;
}

#businessSpotlight :nth-child(2), #businessSpotlight :nth-child(3){
    border:none;
}

div.division {
    background-color: rgba(197, 219, 240, 0.1);
}

div.division img{
    background-color: #000;
}

#weather {
    border: #0A60AF solid 1px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121653;
    margin-top: 10px;
}

footer div p{
    text-align: center;
    color: white;
}

/* -----Discover ----- */
#discover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#discover div h4 {
    text-align: center;
}

.galery img {
    max-width: 300px;
    margin: .5rem;
    padding: .5rem;
}

/* ------ Join -----*/
#join h1{
    text-align: center;
}

main#join{
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

form{
    margin-bottom: 3rem;
}
form fieldset {
    border: 2px solid #0A60AF;
    border-radius: 10px;
    background-color: #eaeef1;
    
}

legend {
    color:#121653;
    font-family: 'Koulen', sans-serif;
    font-size: 1.3rem;
}
form label, fieldset div {
    color:black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
    
}
form label.top, form label textarea, fieldset div{
    padding-bottom: 1rem;
    display: block;
}

form label.top input{
    display: block;
}

form label.sbs{
    display: block;
    padding-bottom: .5rem;
    font-weight: lighter;
}

fieldset div label{
    font-size: 1rem;
}

fieldset div label:nth-child(1){
   padding-top: .5rem;
}

form label.top input, form label textarea{
    width: 100%;
    max-width: 300px;
    border-radius: 2px;
    border: .5px solid #0A60AF;
}
form label.top input:required {
    border-left: red solid 3px;
}

form label textarea{
    height: 200px;
    margin-top: .5rem;
}

.submitBtn {
    padding: .5rem .75rem;
    background-color: #0A60AF;
    width: 100%;
    max-width: 300px;
    color: white;
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;

}

/* ----------DIRECTORY -------------*/
/*    -----GRID-----       */
#directory.grid{
    display: grid;
    padding: 5px;
}

#directory.grid section{
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    border: #121653 solid 1.5px;
    margin: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#directory.grid img {
    width: 250px;
    padding-top: 10px;
}

#directory.grid h2{
    display: none;
}

#directory.grid p{
    margin: 0;
    padding: 2px 5px;
    text-align: center;
}

/*     -----LIST------     */
#directory.list{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;

}

#directory.list section{
    border: none;
    width: 400px;
    padding: 15px;
}

#directory.list img{
    display: none;
}

#directory.list section:nth-child(even){
    background-color: rgba(10, 96, 175,.1);
}

#directory.list section:nth-child(odd){
    background-color: rgba(10, 96, 175,.3);
}



