@media screen and (min-width: 500px) {
    header, main, footer {
        max-width: 1000px;
    }

    /* ----Header---- */
    header{
        flex-direction: row;
    }

    /* ----Hero Image ---- */
    .heroImage img {
        max-width: 1000px;
    }

    /* ----Nav MEnu ---- */
	.navigation {
		display: flex;
        flex-direction: row;
        justify-content: space-evenly;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}

    main{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    main section.heroImage{
        grid-row: 1/2;
    }
    section.events {
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
    }

    section.businessSpotlight {
        grid-row: 3/4;
        display: flex;
        flex-direction: row;
    }

    /* footer */
    footer {
        padding: 1rem;
        flex-direction: row;
        justify-content: space-between;
    }



/* -----DISCOVER ----- */
    #discover {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 1fr 1fr 1fr;
    }

    #headingDiscover{
        grid-column: 2/4;
        grid-row: 1/2;
    }

    #boeing {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #golf {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    #park{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #chocolate {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    #lighthouse{
        grid-column: 2/3;
        grid-row: 4/5;
    }

    #cruise {
        grid-column: 3/4;
        grid-row: 4/5;
    }

    main div img:hover {
        box-shadow: 0 0 50px #333;
        }

/*.galery div, .galery h1, .galery p {
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

    #sidebar {
        grid-column: 1/2;
        grid-row: 1/3;
    
    }
}