@media screen and (min-width: 500px) {
    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

    main {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #title {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    #secAct {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #secInfo {
        grid-column: 2/3;
        grid-row: 2/3
    }
}